.venv
.venv_py12
_linux_venv_do_not_use
__pycache__
tgap/data/csvs
results_from_bravo
results_extra
results_for_fixing_cossim
results_cossim_final
results_for_rotational_vs_none
figs_*
grads_fbptt.txt
grads_online.txt